/* 
ETRUTURA DE BASE:

**DECLARAÇÃO DE VARIÁVEIS
**ESTILOS GERAIS
**BODY
**HEADER
**FOOTER
**PAGINA INICIAL
**EXTRAS
**@MEDIA
*/

header, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* ESTILOS GERAIS */
.container{
    background-color: darkgray;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}


.linha{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.coluna{
    flex-basis: 49%;
}

.hidden{
    display: none;
}

/* BODY */
body{
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */
header{
    background-color: #656565;
    padding-top: 30px;
}
header .container{
    border-bottom: 1px solid yellow;
}
header .linha{}
header .coluna{
    align-self: center;
}
header .coluna-esquerda{
    flex-basis: 35%;
    padding-left: 10px;
}
header .coluna-direita{
    flex-basis: 65%;
    font-size: 14px;
    padding: 10px;
}
header .coluna figure{}
header .coluna figure a{}
header .coluna figure a img{
    width: 200px;
    border-radius: 50%;
}
header .coluna h1{
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: -10px;
}
header .coluna p{
    margin-bottom: 18px;
    text-decoration: none;
    color: yellow;
    font-size: 15px;
}
header .coluna ul{}
header .coluna ul li{
    margin-top: 10px;
}
header .coluna ul li strong{}
header .coluna ul li a{
    color: black;
}



/* FOOTER */
footer{
    background-color: #272727;
}
footer div{}
footer div nav{}
footer .container{
    background-color: rgb(163, 163, 163);
    border-top: 1px solid yellow;
}
footer .info-pessoais{
    margin-bottom: 25px;
}
footer .info-pessoais li{
    padding: 3px;
}
footer .info-pessoais li a{
    color: black;
}
footer .redes-sociais ul{

}
footer .redes-sociais{
    display: flex;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}
footer .redes-sociais li{
    text-align: center;
    padding: 10px;
    margin: auto;
}
footer .redes-sociais li a{
    color: black;
}
footer .redes-sociais li a img{}
footer .redes-sociais li a p{}


/* PAGINA INICIAL */
main{
    background-color: #272727;
}
main .container{
    padding: 25px;
}
main .linha{}
main .coluna{}
main .coluna-esquerda{ }
main .coluna-direita{}
main .coluna section{
    border: 1.8px solid yellow;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 25px;
    min-height: 160px;
}
main .coluna section h2{
    padding-bottom: 10px;
    font-size: 1.25rem;
}
main .coluna section h3{
    font-size: 15px;
}
main .coluna section p{
    font-size: 14px;
}
main .coluna section h3 strong{
    font-size: 15px;
    color: yellow;
}
main .coluna section ul{}
main .coluna section ul li{
    font-size: 14px;
}


/* EXTRAS */



/* @MEDIA */


